# #NationBuilder V2 API
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2.0
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.9.0
#

require "cgi"

module NationbuilderClient
  class AutomationEnrollmentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create an automation enrollment
    # Creates an automation enrollment from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: automation, signup
    # @option opts [String] :fields_automation_enrollments Comma-delimited list of attributes to only return in the response
    # @option opts [AutomationEnrollmentCreateRequest] :automation_enrollment_create_request
    # @return [AutomationEnrollmentShowResponse]
    def create_automation_enrollments(opts = {})
      data, _status_code, _headers = create_automation_enrollments_with_http_info(opts)
      data
    end

    # Create an automation enrollment
    # Creates an automation enrollment from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: automation, signup
    # @option opts [String] :fields_automation_enrollments Comma-delimited list of attributes to only return in the response
    # @option opts [AutomationEnrollmentCreateRequest] :automation_enrollment_create_request
    # @return [Array<(AutomationEnrollmentShowResponse, Integer, Hash)>] AutomationEnrollmentShowResponse data, response status code and response headers
    def create_automation_enrollments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationEnrollmentsApi.create_automation_enrollments ..."
      end
      # resource path
      local_var_path = "/api/v2/automation_enrollments"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[automation_enrollments]"] = opts[:fields_automation_enrollments] if !opts[:fields_automation_enrollments].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:automation_enrollment_create_request])

      # return_type
      return_type = opts[:debug_return_type] || "AutomationEnrollmentShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"AutomationEnrollmentsApi.create_automation_enrollments",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationEnrollmentsApi#create_automation_enrollments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Delete automation enrollments with provided ID
    # Delete automation enrollments with provided ID
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [EmptyMetaResponse]
    def delete_automation_enrollments(id, opts = {})
      data, _status_code, _headers = delete_automation_enrollments_with_http_info(id, opts)
      data
    end

    # Delete automation enrollments with provided ID
    # Delete automation enrollments with provided ID
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmptyMetaResponse, Integer, Hash)>] EmptyMetaResponse data, response status code and response headers
    def delete_automation_enrollments_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationEnrollmentsApi.delete_automation_enrollments ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationEnrollmentsApi.delete_automation_enrollments"
      end
      # resource path
      local_var_path = "/api/v2/automation_enrollments/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "EmptyMetaResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"AutomationEnrollmentsApi.delete_automation_enrollments",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationEnrollmentsApi#delete_automation_enrollments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # List all automation enrollments in a nation
    # Lists all automation enrollments
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: automation, signup
    # @option opts [String] :fields_automation_enrollments Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [AutomationEnrollmentIndexResponse]
    def list_automation_enrollments(opts = {})
      data, _status_code, _headers = list_automation_enrollments_with_http_info(opts)
      data
    end

    # List all automation enrollments in a nation
    # Lists all automation enrollments
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: automation, signup
    # @option opts [String] :fields_automation_enrollments Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [Array<(AutomationEnrollmentIndexResponse, Integer, Hash)>] AutomationEnrollmentIndexResponse data, response status code and response headers
    def list_automation_enrollments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationEnrollmentsApi.list_automation_enrollments ..."
      end
      # resource path
      local_var_path = "/api/v2/automation_enrollments"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[automation_enrollments]"] = opts[:fields_automation_enrollments] if !opts[:fields_automation_enrollments].nil?
      query_params[:"page[number]"] = opts[:page_number] if !opts[:page_number].nil?
      query_params[:"page[size]"] = opts[:page_size] if !opts[:page_size].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "AutomationEnrollmentIndexResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"AutomationEnrollmentsApi.list_automation_enrollments",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationEnrollmentsApi#list_automation_enrollments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Show automation enrollments with provided ID
    # Show automation enrollments with provided ID
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: automation, signup
    # @option opts [String] :fields_automation_enrollments Comma-delimited list of attributes to only return in the response
    # @return [AutomationEnrollmentShowResponse]
    def show_automation_enrollments(id, opts = {})
      data, _status_code, _headers = show_automation_enrollments_with_http_info(id, opts)
      data
    end

    # Show automation enrollments with provided ID
    # Show automation enrollments with provided ID
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: automation, signup
    # @option opts [String] :fields_automation_enrollments Comma-delimited list of attributes to only return in the response
    # @return [Array<(AutomationEnrollmentShowResponse, Integer, Hash)>] AutomationEnrollmentShowResponse data, response status code and response headers
    def show_automation_enrollments_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationEnrollmentsApi.show_automation_enrollments ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationEnrollmentsApi.show_automation_enrollments"
      end
      # resource path
      local_var_path = "/api/v2/automation_enrollments/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[automation_enrollments]"] = opts[:fields_automation_enrollments] if !opts[:fields_automation_enrollments].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "AutomationEnrollmentShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"AutomationEnrollmentsApi.show_automation_enrollments",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationEnrollmentsApi#show_automation_enrollments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
