# #NationBuilder V2 API
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2.0
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.9.0
#

require "cgi"

module NationbuilderClient
  class AutomationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Archive an existing automation
    # Archives an existing automation
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: enrollments
    # @return [AutomationShowResponse]
    def archive_automation(id, opts = {})
      data, _status_code, _headers = archive_automation_with_http_info(id, opts)
      data
    end

    # Archive an existing automation
    # Archives an existing automation
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: enrollments
    # @return [Array<(AutomationShowResponse, Integer, Hash)>] AutomationShowResponse data, response status code and response headers
    def archive_automation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationsApi.archive_automation ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationsApi.archive_automation"
      end
      # resource path
      local_var_path = "/api/v2/automations/{id}/archive".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "AutomationShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"AutomationsApi.archive_automation",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationsApi#archive_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Create an automation
    # Creates an automation from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: (none)
    # @option opts [String] :fields_automations Comma-delimited list of attributes to only return in the response
    # @option opts [AutomationCreateRequest] :automation_create_request
    # @return [AutomationShowResponse]
    def create_automation(opts = {})
      data, _status_code, _headers = create_automation_with_http_info(opts)
      data
    end

    # Create an automation
    # Creates an automation from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: (none)
    # @option opts [String] :fields_automations Comma-delimited list of attributes to only return in the response
    # @option opts [AutomationCreateRequest] :automation_create_request
    # @return [Array<(AutomationShowResponse, Integer, Hash)>] AutomationShowResponse data, response status code and response headers
    def create_automation_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationsApi.create_automation ..."
      end
      # resource path
      local_var_path = "/api/v2/automations"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[automations]"] = opts[:fields_automations] if !opts[:fields_automations].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:automation_create_request])

      # return_type
      return_type = opts[:debug_return_type] || "AutomationShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"AutomationsApi.create_automation",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationsApi#create_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # List all automations in a nation
    # Lists all automations
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: (none)
    # @option opts [String] :fields_automations Comma-delimited list of attributes to only return in the response
    # @option opts [String] :extra_fields_automations Comma-delimited list of extra attributes, which are only returned in the response if requested. Extract attributes for this resource: total_enrollments_count, removed_enrollments_count, completed_enrollments_count, converted_enrollments_count, conversions_enabled
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [AutomationIndexResponse]
    def list_automations(opts = {})
      data, _status_code, _headers = list_automations_with_http_info(opts)
      data
    end

    # List all automations in a nation
    # Lists all automations
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: (none)
    # @option opts [String] :fields_automations Comma-delimited list of attributes to only return in the response
    # @option opts [String] :extra_fields_automations Comma-delimited list of extra attributes, which are only returned in the response if requested. Extract attributes for this resource: total_enrollments_count, removed_enrollments_count, completed_enrollments_count, converted_enrollments_count, conversions_enabled
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [Array<(AutomationIndexResponse, Integer, Hash)>] AutomationIndexResponse data, response status code and response headers
    def list_automations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationsApi.list_automations ..."
      end
      # resource path
      local_var_path = "/api/v2/automations"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[automations]"] = opts[:fields_automations] if !opts[:fields_automations].nil?
      query_params[:"extra_fields[automations]"] = opts[:extra_fields_automations] if !opts[:extra_fields_automations].nil?
      query_params[:"page[number]"] = opts[:page_number] if !opts[:page_number].nil?
      query_params[:"page[size]"] = opts[:page_size] if !opts[:page_size].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "AutomationIndexResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"AutomationsApi.list_automations",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationsApi#list_automations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Show automation with provided ID
    # Show automation with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: enrollments
    # @option opts [String] :fields_automations Comma-delimited list of attributes to only return in the response
    # @option opts [String] :extra_fields_automations Comma-delimited list of extra attributes, which are only returned in the response if requested. Extract attributes for this resource: total_enrollments_count, removed_enrollments_count, completed_enrollments_count, converted_enrollments_count, conversions_enabled
    # @return [AutomationShowResponse]
    def show_automations(id, opts = {})
      data, _status_code, _headers = show_automations_with_http_info(id, opts)
      data
    end

    # Show automation with provided ID
    # Show automation with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: enrollments
    # @option opts [String] :fields_automations Comma-delimited list of attributes to only return in the response
    # @option opts [String] :extra_fields_automations Comma-delimited list of extra attributes, which are only returned in the response if requested. Extract attributes for this resource: total_enrollments_count, removed_enrollments_count, completed_enrollments_count, converted_enrollments_count, conversions_enabled
    # @return [Array<(AutomationShowResponse, Integer, Hash)>] AutomationShowResponse data, response status code and response headers
    def show_automations_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationsApi.show_automations ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationsApi.show_automations"
      end
      # resource path
      local_var_path = "/api/v2/automations/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[automations]"] = opts[:fields_automations] if !opts[:fields_automations].nil?
      query_params[:"extra_fields[automations]"] = opts[:extra_fields_automations] if !opts[:extra_fields_automations].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "AutomationShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"AutomationsApi.show_automations",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationsApi#show_automations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Update an existing automation
    # Updates an existing automation
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: enrollments
    # @option opts [String] :fields_automations Comma-delimited list of attributes to only return in the response
    # @option opts [String] :extra_fields_automations Comma-delimited list of extra attributes, which are only returned in the response if requested. Extract attributes for this resource: total_enrollments_count, removed_enrollments_count, completed_enrollments_count, converted_enrollments_count, conversions_enabled
    # @option opts [AutomationUpdateRequest] :automation_update_request
    # @return [AutomationShowResponse]
    def update_automation(id, opts = {})
      data, _status_code, _headers = update_automation_with_http_info(id, opts)
      data
    end

    # Update an existing automation
    # Updates an existing automation
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: enrollments
    # @option opts [String] :fields_automations Comma-delimited list of attributes to only return in the response
    # @option opts [String] :extra_fields_automations Comma-delimited list of extra attributes, which are only returned in the response if requested. Extract attributes for this resource: total_enrollments_count, removed_enrollments_count, completed_enrollments_count, converted_enrollments_count, conversions_enabled
    # @option opts [AutomationUpdateRequest] :automation_update_request
    # @return [Array<(AutomationShowResponse, Integer, Hash)>] AutomationShowResponse data, response status code and response headers
    def update_automation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AutomationsApi.update_automation ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AutomationsApi.update_automation"
      end
      # resource path
      local_var_path = "/api/v2/automations/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[automations]"] = opts[:fields_automations] if !opts[:fields_automations].nil?
      query_params[:"extra_fields[automations]"] = opts[:extra_fields_automations] if !opts[:extra_fields_automations].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:automation_update_request])

      # return_type
      return_type = opts[:debug_return_type] || "AutomationShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"AutomationsApi.update_automation",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AutomationsApi#update_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
