# #NationBuilder V2 API
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2.0
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.9.0
#

require "cgi"

module NationbuilderClient
  class DonationTrackingCodesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a donation tracking code
    # Creates a donation tracking code from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: (none)
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @option opts [DonationTrackingCodeCreateRequest] :donation_tracking_code_create_request
    # @return [DonationTrackingCodeShowResponse]
    def create_donation_tracking_code(opts = {})
      data, _status_code, _headers = create_donation_tracking_code_with_http_info(opts)
      data
    end

    # Create a donation tracking code
    # Creates a donation tracking code from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: (none)
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @option opts [DonationTrackingCodeCreateRequest] :donation_tracking_code_create_request
    # @return [Array<(DonationTrackingCodeShowResponse, Integer, Hash)>] DonationTrackingCodeShowResponse data, response status code and response headers
    def create_donation_tracking_code_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DonationTrackingCodesApi.create_donation_tracking_code ..."
      end
      # resource path
      local_var_path = "/api/v2/donation_tracking_codes"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[donation_tracking_codes]"] = opts[:fields_donation_tracking_codes] if !opts[:fields_donation_tracking_codes].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:donation_tracking_code_create_request])

      # return_type
      return_type = opts[:debug_return_type] || "DonationTrackingCodeShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"DonationTrackingCodesApi.create_donation_tracking_code",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DonationTrackingCodesApi#create_donation_tracking_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Delete donation tracking code with provided ID
    # Delete donation tracking code with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: donations
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @return [EmptyMetaResponse]
    def delete_donation_tracking_code(id, opts = {})
      data, _status_code, _headers = delete_donation_tracking_code_with_http_info(id, opts)
      data
    end

    # Delete donation tracking code with provided ID
    # Delete donation tracking code with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: donations
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @return [Array<(EmptyMetaResponse, Integer, Hash)>] EmptyMetaResponse data, response status code and response headers
    def delete_donation_tracking_code_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DonationTrackingCodesApi.delete_donation_tracking_code ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DonationTrackingCodesApi.delete_donation_tracking_code"
      end
      # resource path
      local_var_path = "/api/v2/donation_tracking_codes/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[donation_tracking_codes]"] = opts[:fields_donation_tracking_codes] if !opts[:fields_donation_tracking_codes].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "EmptyMetaResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"DonationTrackingCodesApi.delete_donation_tracking_code",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DonationTrackingCodesApi#delete_donation_tracking_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # List all donation tracking codes in a nation
    # Lists all donation tracking codes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: (none)
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [DonationTrackingCodeIndexResponse]
    def list_donation_tracking_codes(opts = {})
      data, _status_code, _headers = list_donation_tracking_codes_with_http_info(opts)
      data
    end

    # List all donation tracking codes in a nation
    # Lists all donation tracking codes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: (none)
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [Array<(DonationTrackingCodeIndexResponse, Integer, Hash)>] DonationTrackingCodeIndexResponse data, response status code and response headers
    def list_donation_tracking_codes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DonationTrackingCodesApi.list_donation_tracking_codes ..."
      end
      # resource path
      local_var_path = "/api/v2/donation_tracking_codes"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[donation_tracking_codes]"] = opts[:fields_donation_tracking_codes] if !opts[:fields_donation_tracking_codes].nil?
      query_params[:"page[number]"] = opts[:page_number] if !opts[:page_number].nil?
      query_params[:"page[size]"] = opts[:page_size] if !opts[:page_size].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "DonationTrackingCodeIndexResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"DonationTrackingCodesApi.list_donation_tracking_codes",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DonationTrackingCodesApi#list_donation_tracking_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Show donation tracking code with provided ID
    # Show donation tracking code with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: donations
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @return [DonationTrackingCodeShowResponse]
    def show_donation_tracking_code(id, opts = {})
      data, _status_code, _headers = show_donation_tracking_code_with_http_info(id, opts)
      data
    end

    # Show donation tracking code with provided ID
    # Show donation tracking code with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: donations
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @return [Array<(DonationTrackingCodeShowResponse, Integer, Hash)>] DonationTrackingCodeShowResponse data, response status code and response headers
    def show_donation_tracking_code_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DonationTrackingCodesApi.show_donation_tracking_code ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DonationTrackingCodesApi.show_donation_tracking_code"
      end
      # resource path
      local_var_path = "/api/v2/donation_tracking_codes/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[donation_tracking_codes]"] = opts[:fields_donation_tracking_codes] if !opts[:fields_donation_tracking_codes].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "DonationTrackingCodeShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"DonationTrackingCodesApi.show_donation_tracking_code",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DonationTrackingCodesApi#show_donation_tracking_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Update an existing donation tracking code
    # Updates an existing donation tracking code
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: donations
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @option opts [DonationTrackingCodeUpdateRequest] :donation_tracking_code_update_request
    # @return [DonationTrackingCodeShowResponse]
    def update_donation_tracking_code(id, opts = {})
      data, _status_code, _headers = update_donation_tracking_code_with_http_info(id, opts)
      data
    end

    # Update an existing donation tracking code
    # Updates an existing donation tracking code
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: donations
    # @option opts [String] :fields_donation_tracking_codes Comma-delimited list of attributes to only return in the response
    # @option opts [DonationTrackingCodeUpdateRequest] :donation_tracking_code_update_request
    # @return [Array<(DonationTrackingCodeShowResponse, Integer, Hash)>] DonationTrackingCodeShowResponse data, response status code and response headers
    def update_donation_tracking_code_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DonationTrackingCodesApi.update_donation_tracking_code ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DonationTrackingCodesApi.update_donation_tracking_code"
      end
      # resource path
      local_var_path = "/api/v2/donation_tracking_codes/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[donation_tracking_codes]"] = opts[:fields_donation_tracking_codes] if !opts[:fields_donation_tracking_codes].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:donation_tracking_code_update_request])

      # return_type
      return_type = opts[:debug_return_type] || "DonationTrackingCodeShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"DonationTrackingCodesApi.update_donation_tracking_code",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DonationTrackingCodesApi#update_donation_tracking_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
