# #NationBuilder V2 API
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2.0
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.9.0
#

require "cgi"

module NationbuilderClient
  class PathJourneyStatusChangesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a path journey status change
    # Creates a path journey status change from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @option opts [PathJourneyStatusChangeCreateRequest] :path_journey_status_change_create_request
    # @return [PathJourneyStatusChangeShowResponse]
    def create_path_journey_status_change(opts = {})
      data, _status_code, _headers = create_path_journey_status_change_with_http_info(opts)
      data
    end

    # Create a path journey status change
    # Creates a path journey status change from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @option opts [PathJourneyStatusChangeCreateRequest] :path_journey_status_change_create_request
    # @return [Array<(PathJourneyStatusChangeShowResponse, Integer, Hash)>] PathJourneyStatusChangeShowResponse data, response status code and response headers
    def create_path_journey_status_change_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PathJourneyStatusChangesApi.create_path_journey_status_change ..."
      end
      # resource path
      local_var_path = "/api/v2/path_journey_status_changes"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[path_journey_status_changes]"] = opts[:fields_path_journey_status_changes] if !opts[:fields_path_journey_status_changes].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:path_journey_status_change_create_request])

      # return_type
      return_type = opts[:debug_return_type] || "PathJourneyStatusChangeShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"PathJourneyStatusChangesApi.create_path_journey_status_change",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PathJourneyStatusChangesApi#create_path_journey_status_change\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Delete path journey status change with provided ID
    # Delete path journey status change with provided ID
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path, path_journeys, path_histories
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @return [EmptyMetaResponse]
    def delete_path_journey_status_change(id, opts = {})
      data, _status_code, _headers = delete_path_journey_status_change_with_http_info(id, opts)
      data
    end

    # Delete path journey status change with provided ID
    # Delete path journey status change with provided ID
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path, path_journeys, path_histories
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @return [Array<(EmptyMetaResponse, Integer, Hash)>] EmptyMetaResponse data, response status code and response headers
    def delete_path_journey_status_change_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PathJourneyStatusChangesApi.delete_path_journey_status_change ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PathJourneyStatusChangesApi.delete_path_journey_status_change"
      end
      # resource path
      local_var_path = "/api/v2/path_journey_status_changes/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[path_journey_status_changes]"] = opts[:fields_path_journey_status_changes] if !opts[:fields_path_journey_status_changes].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "EmptyMetaResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"PathJourneyStatusChangesApi.delete_path_journey_status_change",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PathJourneyStatusChangesApi#delete_path_journey_status_change\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # List all path journey status changes in a nation
    # Lists all path journey status changes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [PathJourneyStatusChangeIndexResponse]
    def list_path_journey_status_changes(opts = {})
      data, _status_code, _headers = list_path_journey_status_changes_with_http_info(opts)
      data
    end

    # List all path journey status changes in a nation
    # Lists all path journey status changes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [Array<(PathJourneyStatusChangeIndexResponse, Integer, Hash)>] PathJourneyStatusChangeIndexResponse data, response status code and response headers
    def list_path_journey_status_changes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PathJourneyStatusChangesApi.list_path_journey_status_changes ..."
      end
      # resource path
      local_var_path = "/api/v2/path_journey_status_changes"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[path_journey_status_changes]"] = opts[:fields_path_journey_status_changes] if !opts[:fields_path_journey_status_changes].nil?
      query_params[:"page[number]"] = opts[:page_number] if !opts[:page_number].nil?
      query_params[:"page[size]"] = opts[:page_size] if !opts[:page_size].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "PathJourneyStatusChangeIndexResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"PathJourneyStatusChangesApi.list_path_journey_status_changes",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PathJourneyStatusChangesApi#list_path_journey_status_changes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Show path journey status change with provided ID
    # Show path journey status change with provided ID
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path, path_journeys, path_histories
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @return [PathJourneyStatusChangeShowResponse]
    def show_path_journey_status_change(id, opts = {})
      data, _status_code, _headers = show_path_journey_status_change_with_http_info(id, opts)
      data
    end

    # Show path journey status change with provided ID
    # Show path journey status change with provided ID
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path, path_journeys, path_histories
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @return [Array<(PathJourneyStatusChangeShowResponse, Integer, Hash)>] PathJourneyStatusChangeShowResponse data, response status code and response headers
    def show_path_journey_status_change_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PathJourneyStatusChangesApi.show_path_journey_status_change ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PathJourneyStatusChangesApi.show_path_journey_status_change"
      end
      # resource path
      local_var_path = "/api/v2/path_journey_status_changes/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[path_journey_status_changes]"] = opts[:fields_path_journey_status_changes] if !opts[:fields_path_journey_status_changes].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "PathJourneyStatusChangeShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"PathJourneyStatusChangesApi.show_path_journey_status_change",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PathJourneyStatusChangesApi#show_path_journey_status_change\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Update an existing path journey status change
    # Updates an existing path journey status change
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path, path_journeys, path_histories
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @option opts [PathJourneyStatusChangeUpdateRequest] :path_journey_status_change_update_request
    # @return [PathJourneyStatusChangeShowResponse]
    def update_path_journey_status_change(id, opts = {})
      data, _status_code, _headers = update_path_journey_status_change_with_http_info(id, opts)
      data
    end

    # Update an existing path journey status change
    # Updates an existing path journey status change
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: path, path_journeys, path_histories
    # @option opts [String] :fields_path_journey_status_changes Comma-delimited list of attributes to only return in the response
    # @option opts [PathJourneyStatusChangeUpdateRequest] :path_journey_status_change_update_request
    # @return [Array<(PathJourneyStatusChangeShowResponse, Integer, Hash)>] PathJourneyStatusChangeShowResponse data, response status code and response headers
    def update_path_journey_status_change_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: PathJourneyStatusChangesApi.update_path_journey_status_change ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PathJourneyStatusChangesApi.update_path_journey_status_change"
      end
      # resource path
      local_var_path = "/api/v2/path_journey_status_changes/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[path_journey_status_changes]"] = opts[:fields_path_journey_status_changes] if !opts[:fields_path_journey_status_changes].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:path_journey_status_change_update_request])

      # return_type
      return_type = opts[:debug_return_type] || "PathJourneyStatusChangeShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"PathJourneyStatusChangesApi.update_path_journey_status_change",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PathJourneyStatusChangesApi#update_path_journey_status_change\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
