# #NationBuilder V2 API
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2.0
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.9.0
#

require "cgi"

module NationbuilderClient
  class SurveyQuestionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a survey question
    # Creates a survey question from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @option opts [SurveyQuestionCreateRequest] :survey_question_create_request
    # @return [SurveyQuestionShowResponse]
    def create_survey_question(opts = {})
      data, _status_code, _headers = create_survey_question_with_http_info(opts)
      data
    end

    # Create a survey question
    # Creates a survey question from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @option opts [SurveyQuestionCreateRequest] :survey_question_create_request
    # @return [Array<(SurveyQuestionShowResponse, Integer, Hash)>] SurveyQuestionShowResponse data, response status code and response headers
    def create_survey_question_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionsApi.create_survey_question ..."
      end
      # resource path
      local_var_path = "/api/v2/survey_questions"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_questions]"] = opts[:fields_survey_questions] if !opts[:fields_survey_questions].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:survey_question_create_request])

      # return_type
      return_type = opts[:debug_return_type] || "SurveyQuestionShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionsApi.create_survey_question",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionsApi#create_survey_question\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Delete survey question with provided ID
    # Delete survey question with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author, survey_question_responses, survey_question_possible_responses
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @return [EmptyMetaResponse]
    def delete_survey_question(id, opts = {})
      data, _status_code, _headers = delete_survey_question_with_http_info(id, opts)
      data
    end

    # Delete survey question with provided ID
    # Delete survey question with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author, survey_question_responses, survey_question_possible_responses
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @return [Array<(EmptyMetaResponse, Integer, Hash)>] EmptyMetaResponse data, response status code and response headers
    def delete_survey_question_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionsApi.delete_survey_question ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SurveyQuestionsApi.delete_survey_question"
      end
      # resource path
      local_var_path = "/api/v2/survey_questions/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_questions]"] = opts[:fields_survey_questions] if !opts[:fields_survey_questions].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "EmptyMetaResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionsApi.delete_survey_question",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionsApi#delete_survey_question\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # List all survey questions in a nation
    # Lists all survey questions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [SurveyQuestionIndexResponse]
    def list_survey_questions(opts = {})
      data, _status_code, _headers = list_survey_questions_with_http_info(opts)
      data
    end

    # List all survey questions in a nation
    # Lists all survey questions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [Array<(SurveyQuestionIndexResponse, Integer, Hash)>] SurveyQuestionIndexResponse data, response status code and response headers
    def list_survey_questions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionsApi.list_survey_questions ..."
      end
      # resource path
      local_var_path = "/api/v2/survey_questions"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_questions]"] = opts[:fields_survey_questions] if !opts[:fields_survey_questions].nil?
      query_params[:"page[number]"] = opts[:page_number] if !opts[:page_number].nil?
      query_params[:"page[size]"] = opts[:page_size] if !opts[:page_size].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "SurveyQuestionIndexResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionsApi.list_survey_questions",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionsApi#list_survey_questions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Show survey question with provided ID
    # Show survey question with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author, survey_question_responses, survey_question_possible_responses
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @return [SurveyQuestionShowResponse]
    def show_survey_question(id, opts = {})
      data, _status_code, _headers = show_survey_question_with_http_info(id, opts)
      data
    end

    # Show survey question with provided ID
    # Show survey question with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author, survey_question_responses, survey_question_possible_responses
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @return [Array<(SurveyQuestionShowResponse, Integer, Hash)>] SurveyQuestionShowResponse data, response status code and response headers
    def show_survey_question_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionsApi.show_survey_question ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SurveyQuestionsApi.show_survey_question"
      end
      # resource path
      local_var_path = "/api/v2/survey_questions/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_questions]"] = opts[:fields_survey_questions] if !opts[:fields_survey_questions].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "SurveyQuestionShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionsApi.show_survey_question",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionsApi#show_survey_question\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Update an existing survey question
    # Updates an existing survey question
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author, survey_question_responses, survey_question_possible_responses
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @option opts [SurveyQuestionUpdateRequest] :survey_question_update_request
    # @return [SurveyQuestionShowResponse]
    def update_survey_question(id, opts = {})
      data, _status_code, _headers = update_survey_question_with_http_info(id, opts)
      data
    end

    # Update an existing survey question
    # Updates an existing survey question
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey, author, survey_question_responses, survey_question_possible_responses
    # @option opts [String] :fields_survey_questions Comma-delimited list of attributes to only return in the response
    # @option opts [SurveyQuestionUpdateRequest] :survey_question_update_request
    # @return [Array<(SurveyQuestionShowResponse, Integer, Hash)>] SurveyQuestionShowResponse data, response status code and response headers
    def update_survey_question_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionsApi.update_survey_question ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SurveyQuestionsApi.update_survey_question"
      end
      # resource path
      local_var_path = "/api/v2/survey_questions/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_questions]"] = opts[:fields_survey_questions] if !opts[:fields_survey_questions].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:survey_question_update_request])

      # return_type
      return_type = opts[:debug_return_type] || "SurveyQuestionShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionsApi.update_survey_question",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionsApi#update_survey_question\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
