# #NationBuilder V2 API
#
# No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
#
# The version of the OpenAPI document: 2.0
#
# Generated by: https://openapi-generator.tech
# Generator version: 7.9.0
#

require "cgi"

module NationbuilderClient
  class SurveyQuestionResponsesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create a survey question response
    # Creates a survey question response from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @option opts [SurveyQuestionResponseCreateRequest] :survey_question_response_create_request
    # @return [SurveyQuestionResponseShowResponse]
    def create_survey_question_response(opts = {})
      data, _status_code, _headers = create_survey_question_response_with_http_info(opts)
      data
    end

    # Create a survey question response
    # Creates a survey question response from given data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @option opts [SurveyQuestionResponseCreateRequest] :survey_question_response_create_request
    # @return [Array<(SurveyQuestionResponseShowResponse, Integer, Hash)>] SurveyQuestionResponseShowResponse data, response status code and response headers
    def create_survey_question_response_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionResponsesApi.create_survey_question_response ..."
      end
      # resource path
      local_var_path = "/api/v2/survey_question_responses"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_question_responses]"] = opts[:fields_survey_question_responses] if !opts[:fields_survey_question_responses].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:survey_question_response_create_request])

      # return_type
      return_type = opts[:debug_return_type] || "SurveyQuestionResponseShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionResponsesApi.create_survey_question_response",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionResponsesApi#create_survey_question_response\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Delete survey question response with provided ID
    # Delete survey question response with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @return [EmptyMetaResponse]
    def delete_survey_question_response(id, opts = {})
      data, _status_code, _headers = delete_survey_question_response_with_http_info(id, opts)
      data
    end

    # Delete survey question response with provided ID
    # Delete survey question response with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @return [Array<(EmptyMetaResponse, Integer, Hash)>] EmptyMetaResponse data, response status code and response headers
    def delete_survey_question_response_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionResponsesApi.delete_survey_question_response ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SurveyQuestionResponsesApi.delete_survey_question_response"
      end
      # resource path
      local_var_path = "/api/v2/survey_question_responses/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_question_responses]"] = opts[:fields_survey_question_responses] if !opts[:fields_survey_question_responses].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "EmptyMetaResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionResponsesApi.delete_survey_question_response",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionResponsesApi#delete_survey_question_response\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # List all survey question responses in a nation
    # Lists all survey question responses
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [SurveyQuestionResponseIndexResponse]
    def list_survey_question_responses(opts = {})
      data, _status_code, _headers = list_survey_question_responses_with_http_info(opts)
      data
    end

    # List all survey question responses in a nation
    # Lists all survey question responses
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @option opts [String] :page_number Page number to list (starting at 1)
    # @option opts [String] :page_size Number of results to display per page (default: 20, max: 100, min: 1)
    # @return [Array<(SurveyQuestionResponseIndexResponse, Integer, Hash)>] SurveyQuestionResponseIndexResponse data, response status code and response headers
    def list_survey_question_responses_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionResponsesApi.list_survey_question_responses ..."
      end
      # resource path
      local_var_path = "/api/v2/survey_question_responses"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_question_responses]"] = opts[:fields_survey_question_responses] if !opts[:fields_survey_question_responses].nil?
      query_params[:"page[number]"] = opts[:page_number] if !opts[:page_number].nil?
      query_params[:"page[size]"] = opts[:page_size] if !opts[:page_size].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "SurveyQuestionResponseIndexResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionResponsesApi.list_survey_question_responses",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionResponsesApi#list_survey_question_responses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Show survey question response with provided ID
    # Show survey question response with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @return [SurveyQuestionResponseShowResponse]
    def show_survey_question_response(id, opts = {})
      data, _status_code, _headers = show_survey_question_response_with_http_info(id, opts)
      data
    end

    # Show survey question response with provided ID
    # Show survey question response with provided ID
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @return [Array<(SurveyQuestionResponseShowResponse, Integer, Hash)>] SurveyQuestionResponseShowResponse data, response status code and response headers
    def show_survey_question_response_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionResponsesApi.show_survey_question_response ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SurveyQuestionResponsesApi.show_survey_question_response"
      end
      # resource path
      local_var_path = "/api/v2/survey_question_responses/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_question_responses]"] = opts[:fields_survey_question_responses] if !opts[:fields_survey_question_responses].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "SurveyQuestionResponseShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionResponsesApi.show_survey_question_response",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionResponsesApi#show_survey_question_response\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # Update an existing survey question response
    # Updates an existing survey question response
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @option opts [SurveyQuestionResponseUpdateRequest] :survey_question_response_update_request
    # @return [SurveyQuestionResponseShowResponse]
    def update_survey_question_response(id, opts = {})
      data, _status_code, _headers = update_survey_question_response_with_http_info(id, opts)
      data
    end

    # Update an existing survey question response
    # Updates an existing survey question response
    # @param id [String] id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :include Comma-delimited list of sideloaded resources to include as part of the response. See guidance [here](/api/v2/docs#overview--paginating-sideloads) about sideloading large numbers of resources and pagination.  Supported sideloads: survey_question, survey_question_possible_response, signup, author, page
    # @option opts [String] :fields_survey_question_responses Comma-delimited list of attributes to only return in the response
    # @option opts [SurveyQuestionResponseUpdateRequest] :survey_question_response_update_request
    # @return [Array<(SurveyQuestionResponseShowResponse, Integer, Hash)>] SurveyQuestionResponseShowResponse data, response status code and response headers
    def update_survey_question_response_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SurveyQuestionResponsesApi.update_survey_question_response ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SurveyQuestionResponsesApi.update_survey_question_response"
      end
      # resource path
      local_var_path = "/api/v2/survey_question_responses/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:include] = opts[:include] if !opts[:include].nil?
      query_params[:"fields[survey_question_responses]"] = opts[:fields_survey_question_responses] if !opts[:fields_survey_question_responses].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(["application/json"])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:survey_question_response_update_request])

      # return_type
      return_type = opts[:debug_return_type] || "SurveyQuestionResponseShowResponse"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["BearerAuth"]

      new_options = opts.merge(
        operation: :"SurveyQuestionResponsesApi.update_survey_question_response",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SurveyQuestionResponsesApi#update_survey_question_response\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
